# Introduction to Python
We thank Vedant Shenoy and Soham Purohit for their contributions towards making this Assignment.

Python is one of the most widely used programming languages ([source](https://octoverse.github.com/#top-languages)), and for a reason. It is very easy to pick-up, extremely versatile (as you will see) and most importantly well supported.

Our focus through these tutorials is not just to learn Python however. We are here to learn [Astro](https://cdn130.picsart.com/283094903006201.jpg?type=webp&to=min&r=640). So, each tutorial will introduce a new concept, important in scientific computing, along with an application in Astronomy and Astrophysics.

Some more great resources:
1. [The Python Wiki](https://wiki.python.org/moin/)
2. [SciPy lecture notes](http://scipy-lectures.org/)
3. [SciPy reference](https://docs.scipy.org/doc/scipy/reference/)
4. [AstroPy Documentation](https://docs.astropy.org/en/stable/)

Please note: This is meant to be an intensive 2 week long tutorial session. However, you are free to go ahead at your own pace. The tutorials will always be available at [github.com/krittikaiitb/tutorials](https://github.com/krittikaiitb/tutorials) and you can learn at your own time.

**Another Note** (I like notes): If you feel, at any point that you don't understand something, take a moment, relax and Google! The internet is your best friend when it comes to programming, and becoming self sufficient in your coding requires you to know how to google. So, don't worry if things feel a bit new; with some practice and a bit of tinkering around (you can do that in this environment very easily!), you will soon be ready to rumble...

### By the end of this tutorial, you will have been introduced to Python, and parsed a file to find how many moons each planet has!

Our first task on Python?
Hello World!<br>
(Note the [escape character](http://python-ds.com/python-3-escape-sequences))

In [1]:
print("The first thing we shall do is say\nHello World!")

The first thing we shall do is say
Hello World!

Print is a function (more on that later) that takes a string (that is the stuff enclosed in the double quotes) and displays it. <br>
Of course, we can go quite crazy with just this

In [2]:
print("Hello","World \n") # Python already puts a newline after each print(...) by default (this can be changed)
print('Hello World\n')    # BTW, this is how you comment :P
print("Hello 'World'\n")
print('"Hello" World\n')

print("'Hello' \"World\" \n")
print('''Hello
World''')

Hello World

Hello World

Hello 'World'

"Hello" World

'Hello' "World"

Hello
World

With a bit of [string formatting](https://docs.python.org/3/library/string.html#format-string-syntax), you can make your print statements as customizable as you want.

In [3]:
name = "Krittika"
print("Hello, my name is %s"% name)
print("Hello, my name is {}".format(name))
print(f"Hello, my name is {name}") # Will only work in Python 3.6+

Hello, my name is Krittika
Hello, my name is Krittika
Hello, my name is Krittika

And in that cell, we went ahead of ourselves a bit. What was that first line?

In [4]:
name = "Krittika, The Astronomy Club of IIT Bombay"

We are assigning a value (which is the string above) to a variable.<br>
Of course, strings aren't all we can assign to variables. There are different data types in Python, which you can explore below:

In [5]:
integer = 1
floating_point = 3.14
complex_number = 3 + 4j
boolean_variable = True

In [6]:
print(f'{type(complex_number)}') # Try to re-write this with .format() instead

<class 'complex'>

In [7]:
print("{}".format(type(complex_number)))

<class 'complex'>

You can also use Python as a calculator!

In [7]:
a = 1 # Explore with different values of a and b. Try using a complex number!
b = 2 # Try using a string!
print("a+b = {}".format(a+b))
print("a-b = {}".format(a-b))
print("a*b = {}".format(a*b))
print("a/b = {}".format(a/b))
print("a//b = {}".format(a//b))
print("a//b = {}".format(a//b))
print("a**b = {}".format(a**b))

a+b = 3
a-b = -1
a*b = 2
a/b = 0.5
a//b = 0
a//b = 0
a**b = 1

We have an idea of how to store a value now, and basic ways of manipulating it. However, what if we need to store many values?

#### Tuples ()
Sequence of values (which can be of mixed types) which are immutable(can't change it), written within parantheses

In [8]:
tuple1=('a','b','c','d','e','f','g','h',1,2,3,4,5,6,7,8,9,10)

To access the elements, use the indices (starting from zero)

In [9]:
tuple1[0]

'a'

A very useful trick is index slicing, where you can access a subset of the tuple. This works as follows:

In [10]:
tuple1[4:9] # [inclusive:exclusive]

('e', 'f', 'g', 'h', 1)

The full syntax for index slicing is \[inclusive_start:exclusive_end:step_size\], so you can get something like

In [11]:
tuple1[2:15:2]

('c', 'e', 'g', 1, 3, 5, 7)

If you leave inclusive_start or exclusive_end blank, then that is saying slice from the beginning, or till the end respectively

In [12]:
tuple1[:12:2]

('a', 'c', 'e', 'g', 1, 3)

In [13]:
tuple1[5::3]

('f', 1, 4, 7, 10)

Count backwards using negative indices

In [14]:
tuple1[-2]

9

Index slicing works with negative indices too!

#### Lists []
Lists are mutable. Otherwise, they have similar properties to a tuple

In [8]:
nested_list=[[1,2,3],['a','b','c'],['astro','cosmo','gravity']] # You can also have nested tuples!

Nested lists are essentially [lists within lists](https://en.wikipedia.org/wiki/Inception). Nested lists will feature a good deal in our tutorials later, so this is important. 

Nested lists (or tuples) have more than one index, which can be used as follows:

In [9]:
nested_list[:][2] # Play around with this!

['astro', 'cosmo', 'gravity']

In [14]:
nested_list[2][0]

'astro'

With a list, you can change entries, append new ones, or delete some

In [17]:
my_list=['astro',1,2,3,'cosmo']
my_list[1]=3.26
print(my_list)

['astro', 3.26, 2, 3, 'cosmo']

In [18]:
my_list.append(['gravity','relativity']) # This will be important later!
print(my_list)

['astro', 3.26, 2, 3, 'cosmo', ['gravity', 'relativity']]

In [19]:
del my_list[1:4]
print(my_list)

['astro', 'cosmo', ['gravity', 'relativity']]

In [20]:
my_list.remove('cosmo')
print(my_list)

['astro', ['gravity', 'relativity']]

One more function, which works on any kind of collection data type (tuples, list, dictionaries ...) is `len`, which gives the length.

In [21]:
print(len(my_list)) # Note that the list inside the list is counted as one element.

2

There are a lot of operations on lists. One resource you can use to find out more is [this](https://www.geeksforgeeks.org/python-list/). Again, Google is your best friend!

#### A note on Strings

We have seen strings before. They are, in a way, similar to tuples, where you can access each individual element (in this case the characters of the strings) using the indices; you can also use index slicing.

In [22]:
my_string = "Krittika: The Astronomy Club of IITB"

In [23]:
# Try to get any substring that you want using index slicing
print(my_string[:8])

Krittika

There are also a few operations on strings, which we will list down below. You are not expected to memorize them. It takes time and experience in coding to be able to remember them, and even then you will still find yourself having to look up things. That is completely fine. 

You can find a whole list of these in the official Python documentation (https://docs.python.org/3.6/library/string.html)

In [24]:
print(my_string.split())

['Krittika:', 'The', 'Astronomy', 'Club', 'of', 'IITB']

In [25]:
print(my_string.split(':')) #Try putting in another character or a string and see how the output changes

['Krittika', ' The Astronomy Club of IITB']

In [17]:
string_with_spaces = "   Why are there spaces here?   " # Let's get rid of those spaces in 2 ways

In [18]:
# Split using white space:
list_of_words = string_with_spaces.split()
print(list_of_words)

['Why', 'are', 'there', 'spaces', 'here?']

In [28]:
# Make a string, by joining the items of the list
string_without_spaces = ' '.join(list_of_words) # what happens if you use '&' instead of ' '?
string_without_spaces

'Why are there spaces here?'

In [20]:
# Make a string, by joining the items of the list
string_without_spaces = '&'.join(list_of_words) # what happens if you use '&' instead of ' '?
string_without_spaces

'Why&are&there&spaces&here?'

In [29]:
# or, you can just use another function
string_with_spaces.strip() # What if you use something like string.split(<some_string>)? It will remove that from the beginning and ending!

'Why are there spaces here?'

#### Dictionaries {}
Instead of indexing by strictly numbers from 0 to `len`-1, we can index a _value_ with any _key_ as long as the _key_ is immutable (can be a tuple).

In [30]:
my_dictionary = {'Phobos':'Mars', 'Ganymede':'Jupiter', 'Titan':'Saturn', 'Titania':'Uranus', 'Triton':'Neptune'}

In [31]:
moon = 'Phobos'
print(f'The largest moon of {my_dictionary[moon]} is {moon}')

The largest moon of Mars is Phobos



There are of course, a lot more to know about each of these. But this will be sufficient for this tutorial. With practice and experience, you will learn more and more about lists, tuples, dictionaries and sets(wait, what's that?)

### Conditionals in Python

Control flow statements like loops and conditionals have blocks indicated by indentation. Any number of whitespaces is syntactically correct as long as it is consistent within a block.

The `if...elif...if` statement can be used to run different blocks based on truth values of boolean expressions.

Wooo. Those were all certainly words. What this means is this:
1. You can choose to run certain statements based on whether some condition is satisfied or not: conditionals
2. You can run the same set of statements (perhaps with some changes) several times (this is called iteration): loops (imaginative names, I know)

Play around with these cells and see for yourself how this will work.

In [32]:
a=5
if a<5:
    print("i am in the if block")
    print(a,"is less than 5")
elif a==5:
    print("i am in the elif block")
    print(a, "is equal to 5")
else:
    print("i am in the else block")
    print(a, "i more than 5")

i am in the elif block
5 is equal to 5

In [33]:
b=8
if  7 < b < 9:
    print("b is between 7 and 9")
elif b < 7:
    print("b is smaller than 7")
else:
    print("b is greater than 9")

b is between 7 and 9

Logical operations `and`, `or`, and `not` can also be used

In [34]:
a=True
b=False
print(a and b)

False

In [35]:
# Try to use a logical operation in an if..elif..else statement. Find if a given value c is less than 0, 
# greater than 10, or in between the two

...

Ellipsis

### Loops
There are two types of loops: `for` and `while`. 

The usage is very straightforward, but there are nuances to both of these that we will explore in detail later.

In [36]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [37]:
for i in range(0,10,2): # range gives you a range of numbers! range(inclusive_start, exclusive_end, step). Seems familiar?
    print(i, end=' ') # Foreshadowing, you can change the default behaviour of print to add a newline.

0 2 4 6 8

In [38]:
my_iter=5
while my_iter > 0:
    print(my_iter**2, end=' ')
    my_iter-=1

25 16 9 4 1

### Parsing a file for data
This is perhaps one of the more important parts in this tutorial, which will enable you to start working with actual data. In the file `Moons_and_planets.csv`, we can find the names of the moons of each planet as well as the planet they orbit (yes, we know we included Pluto. Cut it some slack!)

The data has been taken from https://en.wikipedia.org/wiki/List_of_natural_satellites. This employs something called web scraping, which we will have a look at later.

You are encouraged to play around with this set of code. Try removing some of the functions and seeing why they have been used (remove the `split('\n')` in the next cell and see why it is necessary)

In [21]:
with open('Moons_and_planets.csv', 'r') as f:
    lines = f.read().split('\n') # split each line

In [22]:
print(lines[:5])

['# Name of Moon, Name of Planet, Diameter (km)', 'Moon,Earth,1737.1', 'Phobos,Mars,11.1', 'Deimos,Mars,6.2', 'Io,Jupiter,1818.1']

In [23]:
data_moons = [] # Define an empty list. We will append our values to this
for line in lines:
    data_moons.append(line.split(',')) # split each element

In [24]:
data_moons[:5]

[['# Name of Moon', ' Name of Planet', ' Diameter (km)'],
 ['Moon', 'Earth', '1737.1'],
 ['Phobos', 'Mars', '11.1'],
 ['Deimos', 'Mars', '6.2'],
 ['Io', 'Jupiter', '1818.1']]

As you can see, this is not perfect; the diameter of the moons has been appended as a `string`, instead of a `float`. <br>
Fixing this is up to you! (*hint*: you can convert a string to a float using `float(<string>)`)

You will have to use a loop to access each row (nested loops here), and use indexing to access the elements you want.

### Your assignment...
...should you choose to accept it, will be the following:
1. Find the number of moons of each planet
2. Order the moons (along with their planets) according to their sizes

Try to verify these from the Wikipedia link that we took the data from.

### Solutions for Tutorial Assignment

Note that this is just one possible solution for the assignment. We have not given you the best or most optimized way to solve the assignment. You are encouraged to keep searching for better, more Pythonic ways to solve these problems. We nevertheless give some hints on how to find them.

As shown above, we will first open the file and read its contents by separating using ','

In [1]:
with open('Moons_and_planets.csv','r') as f:    #creating a list with lines of file as elements
    lines=f.read().split('\n')

In [2]:
del lines[0] #first line was headings, hence deleted

What we have now is entire lines as single strings, and a list of all such single-line strings, which means that the planet, moon and diameter aren't independent entities as of now. Hence, we perform the following operation:

In [3]:
data_moons=[]   #splitting the lines according to commas, now you have a nested list with planet, moon, diameter
for line in lines:
    data_moons.append(line.split(','))

In [4]:
mer,ven,ear,mar,jup,sat,ura,nep,plu=[0,0,0,0,0,0,0,0,0] #variables that store number of moons, i.e., 'counters'

In [5]:
print(data_moons[-5:])

[['Nix', 'Pluto', '23.0'], ['Hydra', 'Pluto', '30.5'], ['Kerberos', 'Pluto', '14.0'], ['Styx', 'Pluto', '10.0'], ['']]

In [6]:
del data_moons[len(data_moons)-1]  #last element is an empty list (see above). So we delete it.

A simple if-elif construct that checks all names of planets, i.e., the second elements of all lists within the list

In [7]:
for i in range(len(data_moons)):            #if-elif ladder to count number of moons
    if data_moons[i][1] == 'Mercury':
        mer=mer+1
    elif data_moons[i][1]== 'Venus':
        ven=ven+1
    elif data_moons[i][1]== 'Earth':
        ear=ear+1
    elif data_moons[i][1]== 'Mars':
        mar=mar+1
    elif data_moons[i][1]== 'Jupiter':
        jup=jup+1
    elif data_moons[i][1]== 'Saturn':
        sat=sat+1
    elif data_moons[i][1]== 'Uranus':
        ura=ura+1
    elif data_moons[i][1]== 'Neptune':
        nep=nep+1
    elif data_moons[i][1]== 'Pluto':
        plu=plu+1

Cool trivia fact to explain the output you get below: In October 2019, 20 new moons of Saturn were discovered using the Subaru telescope on Mt. Maunakea, Hawaii, pushing Saturn's tally to the output you get below, and also making it overtake Jupiter as the planet with most moons. Read more: https://www.bbc.com/news/science-environment-49962134

In [8]:
# Output
print(mer,ven,ear,mar,jup,sat,ura,nep,plu)

0 0 1 2 79 82 27 14 5

If you want to make the output bit fancier, you could use string formatting to print.

In [9]:
print(f"Jupiter has {jup} moons")

Jupiter has 79 moons

Given below is the bubble sort algorithm which is commonly used. Selection sort or insertion sort are other algorithms you would wish to try out.

In [10]:
lis=[]
for i in range(len(data_moons)):
    lis.append(float(data_moons[i][2]))

In [ ]:
lis.sort()

In [11]:
lis=[]
for i in range(len(data_moons)):
    lis.append(float(data_moons[i][2]))          #separate list with only float entries created,then bubble sort algorithm on 
for i in range(len(data_moons)):                 #both lists implemented
    for j in range(0,len(data_moons)-1-i):
        if lis[j]>lis[j+1]:
            lis[j],lis[j+1]=lis[j+1],lis[j]
            data_moons[j],data_moons[j+1]=data_moons[j+1],data_moons[j]

This is not a very Python-like way to do this task. You are encouraged to search for ways to sort a list. There are functions to do so, as well as a method for lists.

In [13]:
print("{:<15}{:<8}{:>5}".format("Moon", "Planet", "Diameter"))
print("-"*30)
for i in data_moons:
    print(f"{i[0]:<15}{i[1]:<8}{i[2]:>5}")

Moon           Planet  Diameter
------------------------------
S/2009 S 1     Saturn   0.15
Aegaeon        Saturn   0.33
S/2010 J 2     Jupiter   0.5
S/2011 J 2     Jupiter   0.5
Valetudo       Jupiter   0.5
S/2017 J 8     Jupiter   0.5
S/2011 J 1     Jupiter   0.5
S/2003 J 9     Jupiter   0.5
S/2003 J 12    Jupiter   0.5
Euporie        Jupiter   1.0
Orthosie       Jupiter   1.0
Sponde         Jupiter   1.0
Kale           Jupiter   1.0
Pasithee       Jupiter   1.0
Mneme          Jupiter   1.0
Thelxinoe      Jupiter   1.0
Kallichore     Jupiter   1.0
Cyllene        Jupiter   1.0
Kore           Jupiter   1.0
Herse          Jupiter   1.0
S/2010 J 1     Jupiter   1.0
S/2003 J 18    Jupiter   1.0
Philophrosyne  Jupiter   1.0
Eupheme        Jupiter   1.0
S/2003 J 19    Jupiter   1.0
S/2017 J 2     Jupiter   1.0
S/2017 J 3     Jupiter   1.0
Pandia         Jupiter   1.0
S/2017 J 5     Jupiter   1.0
S/2017 J 6     Jupiter   1.0
S/2017 J 7     Jupiter   1.0
S/2017 J 9     Jupiter   1.0
Ersa           Jupiter   1.0
S/2003 J 2     Jupiter   1.0
S/2003 J 4     Jupiter   1.0
S/2003 J 10    Jupiter   1.0
S/2003 J 16    Jupiter   1.0
S/2003 J 23    Jupiter   1.0
Anthe          Saturn    1.0
Polydeuces     Saturn   1.25
Aitne          Jupiter   1.5
Eurydome       Jupiter   1.5
Euanthe        Jupiter   1.5
Hegemone       Jupiter   1.5
Arche          Jupiter   1.5
Carpo          Jupiter   1.5
Erinome        Jupiter   1.6
Methone        Saturn    1.6
Chaldene       Jupiter   1.9
Isonoe         Jupiter   1.9
Autonoe        Jupiter   2.0
Thyone         Jupiter   2.0
Hermippe       Jupiter   2.0
Aoede          Jupiter   2.0
Helike         Jupiter   2.0
Eukelade       Jupiter   2.0
Dia            Jupiter   2.0
Eirene         Jupiter   2.0
S/2017 J 1     Jupiter   2.0
Pallene        Saturn    2.0
Fenrir         Saturn    2.0
S/2004 S 17    Saturn    2.0
Harpalyke      Jupiter   2.2
Taygete        Jupiter   2.5
Farbauti       Saturn    2.5
S/2004 S 12    Saturn    2.5
Kalyke         Jupiter   2.6
Iocaste        Jupiter   2.6
Megaclite      Jupiter   2.7
S/2016 J 1     Jupiter   3.0
Aegir          Saturn    3.0
Bebhionn       Saturn    3.0
Bergelmir      Saturn    3.0
Fornjot        Saturn    3.0
Hati           Saturn    3.0
Loge           Saturn    3.0
Skoll          Saturn    3.0
Surtur         Saturn    3.0
Jarnsaxa       Saturn    3.0
Greip          Saturn    3.0
S/2004 S 7     Saturn    3.0
S/2004 S 13    Saturn    3.0
S/2006 S 1     Saturn    3.0
S/2006 S 3     Saturn    3.0
S/2007 S 2     Saturn    3.0
S/2007 S 3     Saturn    3.0
S/2004 S 20    Saturn    3.0
S/2004 S 21    Saturn    3.0
S/2004 S 22    Saturn    3.0
S/2004 S 24    Saturn    3.0
S/2004 S 30    Saturn    3.0
S/2004 S 34    Saturn    3.0
S/2004 S 36    Saturn    3.0
S/2004 S 39    Saturn    3.0
Praxidike      Jupiter   3.4
Suttungr       Saturn    3.5
Mundilfari     Saturn    3.5
Thrymr         Saturn    3.5
Narvi          Saturn    3.5
Bestla         Saturn    3.5
Kari           Saturn    3.5
Tarqeq         Saturn    3.5
Daphnis        Saturn    3.8
Themisto       Jupiter   4.0
Skathi         Saturn    4.0
Hyrrokkin      Saturn    4.0
S/2004 S 23    Saturn    4.0
S/2004 S 25    Saturn    4.0
S/2004 S 26    Saturn    4.0
S/2004 S 28    Saturn    4.0
S/2004 S 29    Saturn    4.0
S/2004 S 31    Saturn    4.0
S/2004 S 32    Saturn    4.0
S/2004 S 33    Saturn    4.0
S/2004 S 37    Saturn    4.0
S/2004 S 38    Saturn    4.0
Callirrhoe     Jupiter   4.3
Erriapus       Saturn    5.0
Margaret       Uranus    5.5
Ijiraq         Saturn    6.0
S/2004 S 27    Saturn    6.0
S/2004 S 35    Saturn    6.0
Francisco      Uranus    6.0
Ferdinand      Uranus    6.0
Mab            Uranus    6.0
Deimos         Mars      6.2
Tarvos         Saturn    7.5
Kiviuq         Saturn    8.0
Adrastea       Jupiter   8.2
Ymir           Saturn    9.0
Trinculo       Uranus    9.0
Cupid          Uranus    9.0
Calypso        Saturn    9.5
Leda           Jupiter  10.0
Stephano       Uranus   10.0
Styx           Pluto    10.0
Paaliaq        Saturn   11.0
Phobos         Mars     11.1
Telesto        Saturn   12.0
Pan            Saturn   12.8
Ananke         Jupiter  14.0
Kerberos       Pluto    14.0
Perdita        Uranus   15.0
Atlas          Saturn   15.3
Helene         Saturn   16.0
Albiorix       Saturn   16.0
Hippocamp      Neptune  17.4
Lysithea       Jupiter  18.0
Sinope         Jupiter  19.0
Siarnaq        Saturn   20.0
Psamathe       Neptune  20.0
Cordelia       Uranus   20.1
Caliban        Uranus   21.0
Laomedeia      Neptune  21.0
Ophelia        Uranus   21.4
Metis          Jupiter  21.5
Sao            Neptune  22.0
Carme          Jupiter  23.0
Nix            Pluto    23.0
Setebos        Uranus   24.0
Prospero       Uranus   25.0
Bianca         Uranus   25.7
Pasiphae       Jupiter  30.0
Neso           Neptune  30.0
Hydra          Pluto    30.5
Halimede       Neptune  31.0
Desdemona      Uranus   32.0
Naiad          Neptune  33.0
Rosalind       Uranus   36.0
Cressida       Uranus   39.8
Belinda        Uranus   40.3
Pandora        Saturn   40.6
Thalassa       Neptune  41.0
Elara          Jupiter  43.0
Prometheus     Saturn   46.8
Juliet         Uranus   46.8
Thebe          Jupiter  49.3
Epimetheus     Saturn   58.3
Himalia        Jupiter  67.0
Portia         Uranus   67.6
Despina        Neptune  75.0
Sycorax        Uranus   78.5
Puck           Uranus   81.0
Amalthea       Jupiter  83.5
Galatea        Neptune  88.0
Janus          Saturn   90.4
Larissa        Neptune  97.0
Phoebe         Saturn  106.6
Hyperion       Saturn  138.6
Nereid         Neptune 178.5
Mimas          Saturn  198.2
Proteus        Neptune 210.0
Miranda        Uranus  235.8
Enceladus      Saturn  252.3
Tethys         Saturn  536.3
Dione          Saturn  562.5
Ariel          Uranus  578.9
Umbriel        Uranus  584.7
Charon         Pluto   606.0
Iapetus        Saturn  734.5
Oberon         Uranus  761.4
Rhea           Saturn  764.5
Titania        Uranus  788.9
Triton         Neptune 1353.4
Europa         Jupiter 1560.7
Moon           Earth   1737.1
Io             Jupiter 1818.1
Callisto       Jupiter 2408.4
Titan          Saturn  2575.5
Ganymede       Jupiter 2634.1